:host {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

:host button {
    border: none;
    border-radius: 50px;
    background: #ff002e;
    font-size: 16px;
    color: #fff;
    width: 60%;
    padding: 10px;
}